.projects {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.line-blue {
  position: absolute;
  left: 0px;
  top: -170px;
}

.transparent {
  position: absolute;
  right: 0px;
  bottom: -250px;
}

.green {
  position: absolute;
  right: 0px;
  bottom: 60px;
}

.flexContainer {
  display: flex;
  justify-content: flex-start;
  width: 1300px;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: #ef5fb4; */
  width: 1300px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}
.hoverText {
  color: #000000;
  position: absolute;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.project_first {
  width: 450px;
  height: 300px;
  margin: 15px 15px 10px 0;
  overflow: hidden;
  background-color: aqua;
}

.project_second {
  width: 300px;
  height: 300px;
  margin: 15px 15px 10px 0;
  overflow: hidden;
  background-color: aqua;
}

.project_third {
  width: 450px;
  height: 300px;
  margin: 15px 15px 10px 0;
  overflow: hidden;
  background-color: aqua;
}

.project_fourth {
  width: 400px;
  height: 300px;
  margin: 15px 15px 10px 0;
  overflow: hidden;
  background-color: aqua;
}
.project_fifth {
  width: 500px;
  height: 300px;
  margin: 15px 15px 10px 0;
  overflow: hidden;
  background-color: aqua;
}

.project_sixth {
  width: 300px;
  height: 300px;
  margin: 15px 15px 10px 0;
  overflow: hidden;
  background-color: aqua;
}

.item img {
  height: 300px;
  object-fit: cover;
  z-index: 1;
}

.project img:hover {
  background-color: rgb(245, 204, 242);
  opacity: 0.2;
  z-index: 0;
}

a {
  text-decoration: none;
  color: black;
}

.projectText {
  color: white;
  font-size: 80px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
