.topbar {
  background-color: #ef5fb4;
  height: 4rem;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.links a {
  text-decoration: none;
  padding-right: 2rem;
}
