.skills {
  height: 70vh;
  /* background-color: darkslateblue; */
  padding: 3rem;
}

.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lottie {
  width: 30rem;
}

.icon {
  width: 5rem;
  margin: 1rem;
}
