#skills {
  height: 100vh;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lottie {
  width: 10rem;
  margin-left: 10px;
}

.skills-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: rgba(41, 54, 116, 0.8);
  -webkit-box-shadow: 6px 8px 24px 18px rgba(12, 12, 12, 0.2);
  box-shadow: 6px 8px 24px 18px rgba(12, 12, 12, 0.2);
  border-radius: 15px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .skills-main-container {
    width: 90%;
  }
}

.skills-icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 90%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .skills-icon-container {
    width: 100%;
  }
}

.skills-name-wrapper {
  position: absolute;
  top: -90px;
  right: -60px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.skillsName {
  color: white;
  font-size: 40px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: #20bcf7;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: antiquewhite;
  font-size: 13px;
  font-weight: 200;
  background-color: #081544;
  border-radius: 15px;
  padding: 10px;
}

.icon {
  width: 50px;
  margin: 15px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .icon {
    width: 30px;
  }
}
