#about {
  height: 100vh;
  /* padding-top: 5rem; */
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.containers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 5rem;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: rgba(41, 54, 116, 0.3);
  border-radius: 15px;
  width: 250px;
  height: 300px;
  color: white;
  font-size: 15px;
  font-weight: 100;
  z-index: 1;
  -webkit-box-shadow: 6px 8px 24px 18px rgba(12, 12, 12, 0.2);
  box-shadow: 6px 8px 24px 18px rgba(12, 12, 12, 0.2);
}

.date {
  position: absolute;
  bottom: 125px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  z-index: 100;
  background-color: rgba(103, 110, 157, 0.8);
}

.picture {
  width: 100%;
  position: absolute;
  top: -100px;
}

.info-text {
  position: absolute;
  background-color: rgba(41, 54, 116, 1);
  bottom: 0;
  height: 125px;
  padding: 10px 30px;
  font-size: 14px;
  color: #a1e6ff;
}

.duration {
  font-weight: 300;
  font-size: 16px;
  color: white;
}

.upper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.social-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 20px;
}

.social-icon {
  padding: 10px;
  width: 45px;
}

.line {
  width: 30px;
  height: 1px;
  border: solid 1px white;
  margin: 5px;
}

.downloadButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
}

.lying {
  width: 140px;
  position: absolute;
  top: -86px;
}

.aboutName {
  font-size: 40px;
  font-weight: 200;
  color: white;
  font-family: "Poppins", sans-serif;
  color: #20bcf7;
  margin-top: 50px;
}

.btn {
  text-decoration: none;
  font-weight: 300;
  padding: 15px 20px;
  transition: all 0.2s;
  cursor: pointer;
  background: #fde351;
  border-style: none;
  border-radius: 15px;
  z-index: 1;
  font-size: 14px;
}

.btn:hover {
  transform: translateY(4px);
  box-shadow: 0 10px 20px rgba(176, 172, 66, 0.3);
}
