.about {
  height: 78vh;
  /* background-color: crimson; */
  width: 100%;
  padding: 3rem;
}

.btn-shine {
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
  font-size: 5rem;
  font-weight: 800;
  color: #20bcf7;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #20bcf7 0, #9b62e2 10%, #20bcf7 30%);
  background-position: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 0px;
  }

  50% {
    background-position: 1000px;
  }

  100% {
    background-position: 1500px;
  }
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.me {
  width: 20rem;
  margin: 2rem;
}

.btn {
  color: white;
  text-decoration: none;
  font-weight: 300;
  padding: 1rem 2rem;
  transition: all 0.2s;
  cursor: pointer;
  background: #9b62e2;
  border-style: none;
  border-radius: 15px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.aboutText {
  width: 30rem;
  text-align: left;
}

.sunContainer {
  /* background-color: brown; */
  width: 18rem;
  position: absolute;
  top: 150%;
  right: 0%;
  overflow: hidden;
}

.sun {
  width: 25rem;
  z-index: 1;
  position: relative;
  right: -35%;
  top: 150%;
  /* background-color: blueviolet; */
  animation: rotate 15s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
