.buttons {
  position: absolute;
  top: 15%;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 17rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    top: 11%;
  }
}

.social-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .social-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
  }
}

.social-icon {
  width: 25px;
}

.social-icon:hover {
  transform: translateY(3px);
  transition: all 0.3s;
}

.btn {
  text-decoration: none;
  font-weight: 300;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 11px;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3e3434;
}

.btn:hover {
  transform: translateY(3px);
  transition: all 0.3s;
}

.download-icon {
  width: 30px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .download-icon {
    width: 25px;
  }
}
