.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* background-color: aqua; */
}

.arrows-container {
  position: absolute;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: move ease 3s infinite;
}
@keyframes move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.myphoto {
  margin-left: 50px;
}

.me {
  width: 600px;
  z-index: 15;
  position: absolute;
  top: 170px;
  right: 40px;
}

.introText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
}

.title {
  margin-bottom: 70px;
}
.frontend {
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  color: #20bcf7;
  padding-top: 40px;
}

.hello {
  font-size: 80px;
  font-weight: 200;
}

.there {
  font-size: 50px;
  font-weight: 200;
  margin-left: 130px;
  margin-top: -30px;
}

.iAm {
  font-size: 30px;
  font-weight: 200;
}

.iolanta {
  font-size: 30px;
  font-weight: 200;
}

.byMe {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 100;
}
