.intro {
  background: url("background.png") left top;
  background-repeat: no-repeat;
  background-size: 90rem 35rem;
  height: calc(110vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.introText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hello {
  color: white;
  font-size: 3rem;
}
