.intro {
  background: url("background.png") left top;
  background-repeat: no-repeat;
  background-size: 90rem 35rem;
  height: calc(110vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.arrows {
  position: absolute;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: move ease 3s infinite;
}
@keyframes move {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.arrows img {
  height: 3rem;
  margin-bottom: 1rem;
}

.introText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hello {
  color: black;
  font-size: 3rem;
}
