.footer {
  height: 4rem;
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: antiquewhite;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index:; */
}

.contact-container {
  font-size: 13px;
  font-weight: 200;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 5px;
}
