.app {
  text-align: center;
}
body {
  height: fit-content;
  background-color: #081544;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.section {
  height: 90vh;
  width: 100vw;
  scroll-behavior: smooth;
}
