body {
  height: 100%;
  background-image: url("./back11.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.more-info-btn {
  border: 1.5px solid #fde351;
  border-radius: 15px;
  padding: 10px 15px;
  background-color: transparent;
  color: #fde351;
  cursor: pointer;
  position: absolute;
  top: 80%;
  right: 3%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  animation: fade-in 3s ease forwards;
}

.more-info-btn:hover {
  transform: translateY(3px);
  transition: all 0.2s;
}

.small-app-text {
  color: antiquewhite;
  font-size: 12px;
  font-weight: 200;
  position: absolute;
  left: 3%;
  opacity: 0.8;
}
