.contacts {
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-name {
  font-size: 80px;
  font-weight: 200;
  color: white;
  font-family: "Poppins", sans-serif;
}
.contact-info-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.contact-info-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}

.contact-mail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.info {
  margin: 25px;
  font-size: 22px;
  font-weight: 200;
}

.contact-phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.copy-btns {
  display: flex;
  flex-direction: column;
}

.copy-btns button {
  margin: 30px;
  background: #fde351;
  border-style: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.mail {
  width: 50px;
  margin: 20px;
}

.phone {
  width: 50px;
  margin: 20px;
}
